extends ../layout-form

block formContent
  form(action="/asignaturas/create", method="post")

    label(for="acronimo") Acrónimo:
    input(type="text", name="acronimo", class=`form-control ${errors && errors.acronimo ? 'error-input' : ''}`, value= data.acronimo ? data.acronimo : "")
    br
    if errors && errors.acronimo
      p.error-message= errors.acronimo.msg

    .button-container2
        button(type="submit", class="btn btn-primary") Crear Asignatura
