<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Asignaturas</title>
</head>
<body>
    <h1>Listado de Asignaturas</h1>
    <ul>
        <% asignaturas.forEach(asignatura => { %>
            <li>Nombre: <%= asignatura.nombre %>, Titulación: <%= asignatura.titulacion %>, Código: <%= asignatura.codigo %>, Acrónimo: <%= asignatura.acronimo %></li>
        <% }); %>
    </ul>
</body>
</html>
