doctype html
html
head
  title= title
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.min.css')
  link(rel='stylesheet', href='/css/styles.css')
  link(rel='stylesheet', href='/css/jquery.dataTables.css')
  script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js')
  script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
  script(src='https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js')


  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-custom
      .container
        a.navbar-brand(href='/') TFG-PAP
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link(href='/asignaturas') Asignaturas
            li.nav-item
              a.nav-link(href='/profesores') Profesores
            form.d-inline-flex.align-items-center(role='search').d-search-custom
              input.form-control.me-2(type='search', placeholder='Buscar', aria-label='Buscar')
              button.btn.btn-outline-success.btn-search-custom(type='submit')
                i.bi.bi-search
    .container-fluid
      block content

    footer.footer.bg-dark.text-light.text-center
      .container-fluid
        p Copyright © 2024 My Website
