extends layout

block content
  h1 Listado de Profesores

  table#tablaProfesores.table.table-striped
    thead
      tr
        th(scope='col') Nombre
        th(scope='col') UVUS
        th(scope='col') Capacidad
    tbody
      each profesor in profesores
        tr
          td= profesor.nombre
          td= profesor.uvus
          td= profesor.capacidad

  script.
    $(document).ready(function() {
      $('#tablaProfesores').DataTable();
    });
