<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Profesores</title>
</head>
<body>
    <h1>Listado de Profesores</h1>
    <ul>
        <% profesores.forEach(profesor => { %>
            <li>Nombre: <%= profesor.nombre %>, UVUS: <%= profesor.uvus %>, Capacidad: <%= profesor.capacidad %></li>
        <% }); %>
    </ul>
</body>
</html>
