extends layout

block content
  h1= title

  form(id="peticionForm", action="/peticiones/create", method="post")
    label(for="profesor") Docente:
    select(id="profesor", name="profesor", required)
      each profesor in profesores
        option(value=profesor._id)= profesor.uvus
    br

    label(for="grupo") Grupo:
    select(id="grupo", name="grupo", required)
      each grupo in grupos
        option(value=grupo._id)= grupo.grupo
    br

    label(for="orden") Orden:
    input(type="text", id="orden", name="orden", required)
    br

    label(for="curso") Curso:
    input(type="text", id="curso", name="curso", required)
    br

    button(type="submit") Crear Petición
