doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.min.css')
    link(rel='stylesheet', href='/css/styles.css')
    link(rel='stylesheet', href='/css/jquery.dataTables.css')
    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js')
    script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
    script(src='https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js')
    script(src='https://cdn.jsdelivr.net/npm/sweetalert2@10')
    script(src='/js/uvus_navbar.js')
    script(src='/js/config.js')

  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-custom.navbar-height
      .container
        a.navbar-brand(href='/') TFG-PAP
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link(href='/asignaturas') Asignaturas
            li.nav-item
              a.nav-link(href='/profesores') Profesores
            li.nav-item
              if isAdminLoggedIn
                a.nav-link(href='/auth/logout') Cerrar Administrador
              else
                a.nav-link(href='/auth/login') Iniciar Administrador
            if !isAdminLoggedIn
              li.nav-item
                ul.nav-item.dropdown
                  a.nav-link.dropdown-toggle(href='/', id='profesoresDropdown', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    | UVUS
                  ul.dropdown-menu(aria-labelledby='profesoresDropdown')
                    each uvus in profesoresUvus
                      li
                        a.dropdown-item(href='/' onclick='setSelectedUVUS("' + uvus + '")')= uvus
                  li.nav-item
                    span#selectedUVUSPlaceholder.nav-link.disabled
                  li.nav-item
                    button.btn.btn-outline-secondary.ml-2(type='button', onclick='clearSelectedUVUS()') Borrar UVUS

    .container-fluid.main-content
      block content

    footer.footer.bg-dark.text-light.text-center.footer-height
      .container
        p Copyright © 2024 My Website
