/* PALETA DE COLORES */
:root {
  --azul-claro: #e8eef2ff;
  --lila-gris: #d6c9c9ff;
  --azul-medio: #c7d3ddff;
  --verde-enfasis: #ddfc74ff;
  --gris-oscuro: #37393aff;
}

/* BARRA DE NAVEGACIÓN */
.bg-custom {
  background-color: var(--azul-medio);
}

.nav-item {
  display: flex;
  align-items: center;
}

.navbar-height {
  min-height: 8vh;
}

.main-content {
  min-height: 84vh;
  padding: 2vh;
}

.footer-height {
  margin-top: auto;
}

footer.footer p {
  font-size: 0.6em;
}

footer.footer {
  padding: 0.4em;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 2vh;
  overflow-x: hidden;
}

.underline {
  text-decoration: underline;
}

.navbar-brand {
  font-size: 3vmax;
}

.btn {
  font-size: 2vh;
}

.btn-no-border {
  border: none;
}

/* CONTENIDO */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

h1 {
  font-size: 3vmax;
}

h2 {
  font-size: 2.5vmax;
}

/* TABLAS */
.table-container {
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  max-width: 100%;
}

table th,
table td {
  border: 1px solid #dddddd;
  padding: 0.5vh;
  vertical-align: middle;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5vh;
  padding-bottom: 8vh;
}

.button-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.btn.btn-primary {
  background-color: var(--azul-medio);
  color: var(--gris-oscuro);
  border: none;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn.btn-primary:hover {
  background-color: var(--gris-oscuro);
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
  color: inherit;
}

.dropdown-menu {
  max-height: 50vh;
  overflow-y: auto;
  position: absolute;
}

/* MENSAJES DE ERROR */
.error-input {
  border-bottom: 1px solid red;
}

.error-message {
  color: red;
  font-size: 0.8em;
  margin-top: -1.8em;
  text-align: right;
}

/* LAYOUT-FORM */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 84vh;
}

.form-content {
  padding: 4vh;
  margin: 4vh;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dash-container {
  padding: 4vh;
  margin: 4vh;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.my-icon {
  color: var(--gris-oscuro);
}

input[type="checkbox"] {
  margin-right: 8px;
  margin-left: 8px;
}

select {
  margin-right: 8px;
  margin-left: 8px;
}



/* Estilos para tablets en modo paisaje y algunos ordenadores de escritorio pequeños */
@media only screen and (min-width: 1000px) {
  .btn {
    font-size: 2.5vh;
  }
  body {
    font-size: 2.5vh;
    overflow-x: hidden;
  }
}

/* Estilos para ordenadores de escritorio grandes */
@media only screen and (min-width: 1800px) {
  .btn {
    font-size: 1.8vh;
  }
  body {
    font-size: 1.8vh;
    overflow-x: hidden;
  }
  .navbar-brand {
    font-size: 3.5vh;
  }
  h1 {
    font-size: 3.4vh;
  }
  
  h2 {
    font-size: 2.8vh;
  }
}

