/* PALETA DE COLORES */
:root {
  --azul-claro: #e8eef2ff;
  --lila-gris: #d6c9c9ff;
  --azul-medio: #c7d3ddff;
  --verde-enfasis: #ddfc74ff;
  --gris-oscuro: #37393aff;
}

/* BARRA DE NAVEGACIÓN */
.bg-custom {
  background-color: var(--azul-medio);
}

.nav-item {
  display: flex;
  align-items: center;
}

.navbar-height {
  min-height: 8vh;
}

.main-content {
  min-height: 84vh;
  padding: 2vh;
}

.footer-height {
  min-height: 8vh;
}

body {
  font-size: 2vh;
}

.navbar-brand {
  font-size: 3vh;
}

.btn {
  font-size: 1.5vh;
}

/* CONTENIDO */

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

h1 {
  font-size: 3vh;
}

/* TABLAS */

table {
  border-collapse: collapse;
  width: 100%;
}

table th,
table td {
  border: 1px solid #dddddd;
  padding: 0.5vh;
  vertical-align: middle;
  font-size: 1.5vh;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5vh;
  padding-bottom: 8vh;
}

.btn.btn-primary {
  background-color: var(--azul-medio);
  color: var(--gris-oscuro);
  border: none;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn.btn-primary:hover {
  background-color: var(--gris-oscuro);
}

/* MENSAJES DE ERROR */

.error-input {
  border-bottom: 1px solid red;
}

.error-message {
  color: red;
  font-size: 0.8em;
  margin-top: -1.8em;
  text-align: right;
}

/* LAYOUT-FORM */

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 84vh;
}

.form-content {
  padding: 4vh;
  margin: 4vh;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}







