//- extends ../layout

//- block content
//-   h1 Listado de Asignaciones
//-   .table-container
//-     table#tablaData.table.table-striped
//-       thead
//-         tr
//-           th(scope='col') Código
//-           th(scope='col') Acrónimo
//-           th(scope='col') Nombre
//-           th(scope='col') Titulación

//-       tbody
//-         each asignatura in asignaturas
//-           tr(data-href=`/asignaturas/${asignatura._id}`)
//-             td= asignatura.codigo
//-             td= asignatura.acronimo
//-             td= asignatura.nombre
//-             td= asignatura.titulacion