extends ../layout

block content
  h1 Listado de Asignaturas
  .table-container
    table#tablaData.table.table-striped
      thead
        tr
          th(scope='col') Acrónimo

      tbody
        each asignatura in asignaturas
          tr(data-href=`/asignaturas/${asignatura._id}`)
            td= asignatura.acronimo

    div.button-container
      form(action='/upload', method='post', enctype='multipart/form-data', id='uploadForm')
        input(type='file', name='xlsxFile')
        button.btn.btn-primary(type='submit') Cargar archivo XLSX para procesar en la base de datos