extends ../layout

block content
  h1 Listado de Asignaciones
  .table-container
    table#tablaData.table.table-striped
      thead
        tr
          th(scope='col') Curso
          th(scope='col') UVUS
        //-   th(scope='col') Nombre
        //-   th(scope='col') Titulación

      tbody
        each asignacion in asignaciones
          tr
            td= asignacion.curso
            //- td= 
            td= asignacion.profesor.uvus
            //- td= asignatura.nombre
            //- td= asignatura.titulacion