extends ../layout

block content
  h1 Listado de Asignaturas
  .table-container
    table#tablaData.table.table-striped
      thead
        tr
          th(scope='col') Acrónimo
          if isAdminLoggedIn
            th(scope='col')
      tbody
        each asignatura in asignaturas
          tr(data-href=`/asignaturas/${asignatura._id}`)
            td= asignatura.acronimo
            if isAdminLoggedIn
              td.d-flex.justify-content-center.align-items-center(style='height: 50px;')
                a(href=`/asignaturas/${asignatura._id}/delete`)
                  i(class='bi bi-trash my-icon')
  if isAdminLoggedIn
    .button-container
      a.btn.btn-primary(style='margin-right: 3vw;' href='/asignaturas/create') Crear Asignatura
      a.btn.btn-primary(href='/grupos/create') Crear Grupo