{% extends 'app/base.html' %}
{% load static %}

{% block content %}
    <div class="container mt-5">
        <h1 class="display-4">¡Bienvenido a mi página con Bootstrap!</h1>
        <p class="lead">Este es un ejemplo básico de una página HTML utilizando Bootstrap.</p>

        <div class="alert alert-primary" role="alert">
            Esta es una alerta de Bootstrap. Puedes agregar contenido adicional aquí.
        </div>

        <button type="button" class="btn btn-primary">Botón de ejemplo</button>
    </div>
{% endblock %}